<!-- <ng-content select="h1"></ng-content>
<div *ngIf="nome != 'Igor'">
  <p [ngClass]="{'active': valor, 'disabled':!valor}"> NgClass </p>
  <p [ngStyle]="{'height': heightPx, 'background': backgroundColor}"> NgStyle </p>
</div>
<hr>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome}}</li>

<ng-template ngFor let-item [ngForOf]="list">
  <p>
    {{item.nome}}
  </p>
</ng-template>
<input [(ngModel)]="nome" type="text">
<button (click)="salvar()" type="submit">Salvar</button>

<ng-content selcet="hr"></ng-content> -->



<!-- <input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome | uppercase}}</li> -->

{{date | date: 'dd/MM/yyy'}}
